.fadeInUp {
    animation-name: fadeInUp;
} @keyframes fadeInUp{
    0% {
      margin-top: 20px;
    }
    50% {
      margin: 0;
    }
    75% {
      margin-top: 20px;
    }
    100% {
      margin: 0;
    }
  }

.fadeInDown {
  animation-name: fadeInDown;
}@keyframes fadeInDown{
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }


  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.ripple {
    animation-name: ripple;
} @keyframes ripple {
    0% {
    box-shadow: 0 0 0 0 rgba(28, 182, 152, 0.2), 0 0 0 1em rgba(28, 182, 152, 0.2), 0 0 0 3em rgba(28, 182, 152, 0.2), 0 0 0 5em rgba(28, 182, 152, 0.2);
   }
    100% {
    box-shadow: 0 0 0 1em rgba(28, 182, 152, 0.2), 0 0 0 3em rgba(28, 182, 152, 0.2), 0 0 0 5em rgba(28, 182, 152, 0.2), 0 0 0 8em rgba(28, 182, 152, 0);
   }
   }

.zoomIn {
    animation-name: zoomIn;
} @keyframes zoomIn {
    from {
       opacity: 0;
       transform: scale3d(0.3, 0.3, 0.3);
     }
   
     50% {
       opacity: 1;
     }
   }
