@import url('https://fonts.googleapis.com/css?family=Work+Sans:200,300,400,500,600,700,800,900');
 @import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
/* 
font-family: 'Work Sans', sans-serif;
font-family: var(--font);
*/

/*========================
 (1). Reset css 
 (2). Common Styles Css
 (3). Header Css
 (4). Top Sider Css
 (5). About us Css
 (6). Skills Css
 (7). My Resume Css
 (8). Portfolio css
========================*/

/*========================================
	 Styles START
========================================*/
:root {
    --bg-color: #1E2326;
    --black: #252A2E;
    --green: #1CB698;
    --white: #fff;
    --font: 'Righteous', cursive;
  }

/*========================================
	 Common Styles START
========================================*/
* {
    margin: 0;
    padding: 0;
  box-sizing: border-box;
    }
  ::-webkit-scrollbar {
    width: 0;
  }
  
  body
  {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
    line-height: 1.5;
    font-size: 1.6rem;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: var(--bg-color);
  }
  
  html {
      font-size: 62.5%;
      scroll-behavior: smooth;
    }

    ul, li, a {
        text-decoration: none;
        list-style: none;
        color: var(--white);
    }

    .title-page {
      position: absolute;
      margin-top: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .title-page
    #icon-about {
      position: relative;
      width: 60px;
      height: 60px;
      border-radius: 5px;
      background-color: var(--black);
      box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }.title-page
    #title-pages {
      position: relative;
      color: var(--white);
      margin: 10px 0;
      font-family: var(--font);
      font-size: 48px;
      line-height: 50px;
    }.title-page
    #line {
      position: relative;
      width: 90px;
      height: 2px;
      background-color: var(--green);
      border-radius: 20px;
      display: flex;
      justify-content: center;
    }.title-page
    #line::before {
      content: '';
      position: relative;
      width: 45px;
      height: 2px;
      background-color: var(--green);
      border-radius: 20px;
      margin-top: 10px;
    }article {
      background-color: transparent;
      height: 100%;
      width: 90%;
      margin: 230px 0;
    }
/*========================================
	Header Css START
========================================*/

header {
    position: fixed;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--bg-color); 
    
    animation: fadeInUp 2s linear ;
    
    z-index: 2;
}

  .logo {
    margin-left: 10%;
      flex: 1;
  }
  .logo a {
    color: var(--green);
	font-size: 36px;
	font-family: var(--font);
    cursor: pointer;
  }

  .menu {
      display: flex;
      list-style: none;
      text-align: center;
      align-items: center;
      margin-right: 120px;
      cursor: pointer;
  }

  #menu-css> ul > li > a {
	position: relative;
	padding: 10px 0px;
	margin: 0 15px;
	text-transform: uppercase;
}
#menu-css > ul > li > a:before {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	padding: 7px 0px;
	max-width: 0;
	color: var(--green);
	content: attr(data-hover);
	-webkit-transition: max-width 0.8s;
	-moz-transition: max-width 0.8s;
	transition: max-width 0.8s;
}
#menu-css > ul > li > a:hover:before, #menu-css > ul > li > a:focus::before {
	max-width: 100%;
}
#menu-css > ul > li:last-child > a {
	margin-right: 0px;
}

#head-mobile {
  display: none;
}

/*========================================
	@Media Css START
========================================*/
@media screen and (max-width: 1000px) {
.menu {
  display: none;
}
 
  #head-mobile {
    display: block;
    margin-right: 100px;
    width: 40px;
    height: 40px;
    background-color: var(--green);
    border-radius: 5px;
    padding: 5px;
  }
  .head-button {
    position: relative;
    margin: 20% auto;
    width: 20px;
    height: 3px;
    background-color: var(--white);
  }
  .head-button::before,
  .head-button::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 3px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
  }
  .head-button::before{margin-top: 8px;}

  .head-button::after{margin-top: 16px;}
  
}


/*========================================
	@Media Css END 
========================================*/


/*========================================
	Header Css END 
========================================*/


/*========================================
	Home Css START
========================================*/

#topHome {
    height: 100vh;
    width: 100%;
}
#bg-home {
    width:100%;
    height: 100vh; 

    background-image: url("https://i.postimg.cc/bvRWsk3W/top-sider-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* filter: blur(50px);
    opacity: 0.7; */

    display: flex;
    align-items: center;
    justify-content: center;
}
.card-container {
  min-width: 60vw;
  margin-top: 60px;
  min-height: 95vh;

  background-color: transparent;
  
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}
  .card {
    width: 400px;
    height: 400px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    transform-style: preserve-3d;
    background-color: var(--bg-color);
    margin-top: 150px;
    
    
    animation: zoomIn 2.5s ;
    
  }
  
  .card #perfil-img {
    
	width: 320px;
	height: 320px;
	margin-bottom: 30px;
	margin-top: -150px;

    position: relative;

    border-radius: 50%;
    border: 12px solid var(--green);
    box-shadow: -1rem 0 3rem rgba(0,0,0,0.2);
    background-image: url("https://i.postimg.cc/pr1Y7Xks/perfil.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 200ms ease;
}  

  .card-content {
  position: relative;
	margin-bottom: 75px;

  color: var(--white);

  display: flex;
  flex-direction: column;
  text-align: center;
  
  transition: all 200ms ease;
  }
  .card-content h2 {
    color: #FFF;
    font-family: var(--font);
    font-size: 48px;
    line-height: 50px;
    text-transform: uppercase;
  }
  .card-content p {
    color: #FFF;
    font-size: 17px;
    line-height: 24px;
  }
  
  .circle-ripple {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
  }
  .circle-ripple {
    background-color: transparent;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    animation: ripple 0.7s linear infinite;
  }

/*========================================
	Home Css END 
========================================*/


/*========================================
	About Css START
========================================*/

#about {
    height: 100vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
}
.description  {
  color: var(--white);
  font-size: 19px;
  letter-spacing: 0.5px;
  line-height: 24px;
}
.description .text-green {
  font-weight: 600;
  color: #1CB698;
  letter-spacing: 0.5px;
}
.details-interest, .title-details-interest {
  margin-top: 10px;
  display: flex;
} .personal-title {width: 46%;}.title-details-interest {
  width: 100%;
  position: absolute;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0.5px;
  font-family: var(--font);
  color: var(--white);
  margin-bottom: 20px;
}
.details {
  margin-top: 40px;
  width: 50%;
}
.details .table-details {
  display: flex;
}.title-details {
  margin-right: 50px;
}
.interest {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  width: 45%;
} .title-interest {
  position: absolute;
  font-size: 28px;
  line-height: 30px;
  letter-spacing: 0.5px;
  margin-top: -35px;
  font-family: var(--font);
  color: var(--white);
}
.interest .interest-box {
  display: inline-block;
  text-align: center;
  width: 100px;
  cursor: pointer;
  padding: 12px 10px;
  transition: all 0.8s ease 0s;
  margin: 0 10px;
  margin-bottom: 25px;
  border-radius: 10px;
  background: #252A2E;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) inset;
  
} 
.Games {
  animation: fadeInDown 1s linear; 
}.Music {
  animation: fadeInDown 1.5s linear; 
}.Travel {
  animation: fadeInDown 1.75s linear; 
}.Cine {
  animation: fadeInDown 2s linear; 
}.Coffee {
  animation: fadeInDown 2.5s linear; 
}.Money {
  animation: fadeInDown 2.75s linear;
}
.interest-box:hover {
  background-color: var(--green);
}
.interest .interest-box p {
  width: 80px;
  height: 65px;
}
/*========================================
	About Css END 
========================================*/
#skills {
    height: 100vh;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
}
#resume {
    height: 100vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
}
#portfolio {
    height: 100vh;
    width: 100%;
    background-color: var(--black);
    display: flex;
    justify-content: center;
}
#contact{
    height: 100vh;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
}