#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
	border: 0;
	list-style: none;
	line-height: 1;
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#cssmenu:after, #cssmenu > ul:after {
	_content: ".";
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
#cssmenu #head-mobile {
	display: none;
}
#cssmenu {
	display: table;
	margin: 0px auto 0;
	float:right;
	width: auto;
}
#cssmenu > ul {
	margin: 0px 0 0 0;
}
#cssmenu > ul > li {
	float: left;
	margin: 0px 0px;
	padding: 0 0px;
	border-right: 0px solid #fff;
}
#cssmenu > ul > li:last-child {
	border-right: 0px solid #fff;
}
#cssmenu > ul > li > a {
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.5px;
	text-align: center;
	transition: all 0.8s ease 0s;
	text-decoration: none;
	padding: 13px 17px;
	display: block;
	color: #FFF;
}
#cssmenu > ul > li:hover > a, #cssmenu ul li.active a {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}
#cssmenu > ul > li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover {
	_background: #4f1387!important;
	-webkit-transition: background .3s ease;
	-ms-transition: background .3s ease;
	transition: background .3s ease;
}
#cssmenu > ul > li.has-sub > a {
}
#cssmenu > ul > li.has-sub > a:after {
	position: absolute;
	top: 22px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: none;
	content: '';
}
#cssmenu > ul > li.has-sub > a:before {
	position: absolute;
	top: 19px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: none;
	content: '';
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;
}
#cssmenu > ul > li.has-sub:hover > a:before {
	top: 23px;
	height: 0;
}
#cssmenu ul ul {
	position: absolute;
	left: -9999px;
	z-index: 2;
	padding-top: 17px;
	top: 49px;
}
#cssmenu ul ul li {
	height: 0;
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease;
	background-color: rgba(3, 11, 25, 0.7);
	border-bottom: 1px solid #979797;
}
#cssmenu ul ul li:hover {
	background: #002563;
}
#cssmenu li:hover > ul {
	left: auto
}
#cssmenu li:hover > ul > li {
	height: 35px
}
#cssmenu ul ul ul {
	margin-left: 100%;
	top: 0
}
#cssmenu ul ul li a {
	_border-bottom: 1px solid rgba(150,150,150,0.15);
	padding: 11px 15px;
	width: 210px;
	font-size: 15px;
	text-decoration: none;
	color: #fff;
	font-weight: 400;
	background: url(../images/has-sub.png) no-repeat 6px 17px;
}
#cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
	color: #fff;
	background: url(../images/has-sub.png) no-repeat 6px 17px;
	padding-left: 20px;
	border-bottom: 0px solid rgba(150,150,150,0.15);
}
#cssmenu ul ul li.has-sub > a:after {
	position: absolute;
	top: 16px;
	right: 11px;
	width: 8px;
	height: 2px;
	display: block;
	background: #ddd;
	content: ''
}
#cssmenu ul ul li.has-sub > a:before {
	position: absolute;
	top: 13px;
	right: 14px;
	display: block;
	width: 2px;
	height: 8px;
	background: #ddd;
	content: '';
	-webkit-transition: all .25s ease;
	-ms-transition: all .25s ease;
	transition: all .25s ease
}
#cssmenu ul ul > li.has-sub:hover > a:before {
	top: 17px;
	height: 0
}
#cssmenu ul ul li.has-sub:hover, #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
	background: #002563;
}
#cssmenu ul ul ul li.active a {
	border-left: 1px solid #333
}
#cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active> a {
	border-top: 1px solid #333
}
 @media screen and (max-width:991px) {
#cssmenu {
	display: block !important;
}
#cssmenu ul ul {
	padding-top: 0;
	z-index: 2;
	top: 0px;
}
.sub-menu.open {
	_border-top: 1px solid #979797!important;
}
.sticky #cssmenu > ul > li {
	border-right: 0px solid #333333;
}
#cssmenu ul li.has-sub:hover ul {
	top: 0px;
}
nav {
	width: 100%;
}
#cssmenu {
	margin: 0px auto 0;
	width: 100%
}
#cssmenu ul {
	border-radius: 6px;
	display: none;
	float: right;
	overflow: hidden;
	width: 180px;
	margin-top: 5px;
	position: relative;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	padding-top: 0px;
}
#cssmenu ul::after {
	background-image: url("../images/mobile_top_arrow.png");
	background-position: right top;
	background-repeat: no-repeat;
	content: "";
	height: 12px;
	position: absolute;
	right: 16px;
	top: 0;
	visibility: unset;
	width: 27px;
}
#cssmenu ul li {
	width: 100%;
	border-top: 1px solid #E2E2E2;
	background: #022765;
	padding: 0px;
}
#cssmenu ul li:hover {
	_background: #030b19;
	_border-bottom: 1px solid #979797;
}
#cssmenu ul ul li, #cssmenu li:hover > ul > li {
	height: auto;
}
#cssmenu > ul > li:first-child > a {
	border-radius: 6px 6px 0 0;
}
#cssmenu ul li a, #cssmenu ul ul li a {
	width: 100%;
	border-bottom: 0;
	color: #fff;
}
.sticky #cssmenu > ul > li > a, #cssmenu > ul > li > a {
	color: #fff;
}
#cssmenu > ul > li {
	float: none
}
#cssmenu ul ul li a {
	padding-left: 20px;
}
#cssmenu ul ul li a:hover {
	padding-left: 25px;
}
#cssmenu ul ul li {
	background-color: #DB9E27;
	border-bottom: 0px solid #979797;
	_border-top: 1px solid #979797
}
#cssmenu > ul > li:last-child {
	margin: 0 0 0 0px;
}
#cssmenu ul ul li:hover {
	_background: none;
}
#cssmenu ul ul ul li a {
	_padding-left: 35px
}
#cssmenu ul ul li a {
	color: #fff;
}
#cssmenu > ul > li:first-child {
	border-top: 0 !important;
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
	color: #fff;
	_border-bottom: 1px solid #fff;
	background: url(../images/has-sub.png) no-repeat 6px 17px;
}
#cssmenu > ul > li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover {
	border-bottom: 0px solid #fff;
}
#cssmenu ul ul, #cssmenu ul ul ul {
	position: relative;
	left: 0;
	width: 100%;
	margin: 0;
	text-align: left
}
#cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul > li.has-sub > a:after, #cssmenu ul ul > li.has-sub > a:before {
	display: none;
}
#cssmenu #head-mobile {
	color: #fff;
	display: none;
	font-size: 15px;
	font-weight: normal;
	padding: 16px 0 5px;
}
#cssmenu {
	display: table;
	/* float: left; */
	margin: 0 auto;
	position: absolute;
	top:20px;
	/* right: 200px; */
	padding: 0 0px;
	z-index: 9999;
	right: 0;
}
#cssmenu .button {
	background: #1CB698 none repeat scroll 0 0;
	cursor: pointer;
	height:40px;
	position: absolute;
	right:0px;
	top:-40px;
	transition: all 0.5s ease 0s;
	border-radius: 5px;
	width:45px;
	z-index: 12;
}
#cssmenu .button:hover {
	transition: all 0.5s ease 0s;
}
#cssmenu .button:after {
	position: absolute;
	top:19px;
	right:0;
	left:0px;
	margin:0 auto;
	display: table;
	height: 8px;
	width: 20px;
	border-top: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
	content: ''
}
#cssmenu .button:before {
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	position: absolute;
	top:13px;
	right: 0;
	left:0px;
	display: table;
	height: 2px;
	margin:0 auto;
	width: 20px;
	background: #FFF;
	content: ''
}
#cssmenu .button.menu-opened:after {
	position: absolute;
	top: 22px;
	right:0px;
	left:0px;
	display:table;
	margin:0 auto;
	height: 8px;
	width: 20px;
	border-top: 2px solid #FFF;
	border-bottom: 2px solid #FFF;
 content: '';
  -webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	top: 19px;
	border: 0;
	height: 2px;
	width: 19px;
	background: #FFF;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}
#cssmenu .button.menu-opened:before {
	-webkit-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
	position: absolute;
	top:19px;
	right:0px;
	left:0px;
	margin:0 auto;
	display:table;
	height: 2px;
	width: 20px;
	background: #FFF;
 content: ''; top:19px;
	background: #FFF;
	width: 19px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg)
}
#cssmenu .submenu-button {
	position: absolute;
	z-index: 99;
	right: 0;
	top: 0;
	display: block;
	border-left: 1px solid #979797;
	height: 45px;
	width: 50px;
	cursor: pointer
}
#cssmenu .submenu-button.submenu-opened {
	_background: rgba(3, 11, 25, 0.7)
}
#cssmenu ul ul .submenu-button {
	height: 37px;
	width: 34px
}
#cssmenu .submenu-button:after {
	position: absolute;
	top: 22px;
	right: 19px;
	width: 8px;
	height: 2px;
	display: block;
	background: #ddd;
	content: ''
}
#cssmenu ul ul .submenu-button:after {
	top: 15px;
	right: 13px
}
#cssmenu .submenu-button.submenu-opened:after {
	background: #fff
}
#cssmenu .submenu-button:before {
	position: absolute;
	top: 19px;
	right: 22px;
	display: block;
	width: 2px;
	height: 8px;
	background: #ddd;
	content: ''
}
#cssmenu ul ul .submenu-button:before {
	top: 12px;
	right: 16px
}
#cssmenu .submenu-button.submenu-opened:before {
	display: none
}
#cssmenu ul ul ul li.active a {
	border-left: none;
}
#cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
	_border-bottom: 1px solid #fff;
}
#cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
	color: #fff;
	padding-left: 25px !important;
	border-bottom: 0px solid #fff;
	background: #95B721 url(../images/has-sub.png) no-repeat 6px 17px;
}
#cssmenu > ul > li > a{
	background: #252A2E;
	padding: 10px 15px !important;
	color: #FFF;
	text-align:left;
	border-radius: 0px;
} 
#cssmenu ul li {
	background: none;
}
}
#cssmenu .sub-menu li ul li a {
	font-size: 13px!important;
	padding-right: 0;
}
#cssmenu li ul.sub-menu > li > ul.sub-menu {
	padding-top: 0;
}
/* Underline From Center */
.hvr-underline-from-center {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
}
.hvr-underline-from-center:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 51%;
	right: 51%;
	bottom: 0;
	background: #002c56;
	height: 3px;
	-webkit-transition-property: left, right;
	transition-property: left, right;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
	left: 0;
	right: 0;
}
