@media screen and (max-width : 1199px) {
    .db_my_interests li {
        margin: 0 5px;
        margin-bottom: 15px;
    }
    .dark_box_bg h4 {
        font-size: 18px;
        line-height: 20px;
    }
    }
    @media screen and (max-width : 991px) {
    .contact_info_section {
        margin-bottom: 40px;
    }
    .google_info li {
        padding: 25px 10px 25px 60px;
        font-size: 12px;
        line-height: 20px;
    }
    .db_personal_details {
        margin-bottom: 40px;
    }
    .db_my_interests li {
        width: 20%;
    }
    #cssmenu > ul > li > a {
        margin: 0px;
    }
    #cssmenu > ul > li > a:before {
        content: none;
    }
    #cssmenu > ul > li > a:hover {
        color: #1CB698;
    }
    .right_header {
        position: relative;
    }
    }
     @media screen and (max-width : 767px) {
    .contant_form {
        margin-bottom: 30px;
    }
    #cssmenu {
        top: 0px;
    }
    .db_each-skills {
        margin-bottom: 40px;
    }
    .db_portfolio_menu .btn01 {
        padding: 7px 8px;
    }
    }
    @media screen and (max-width : 575px) {
    .db_my_interests li {
        width: 30%;
    }
    .db_portfolio_section .nav {
        margin: 0 auto;
        display: table;
        text-align: center;
    }
    .db_portfolio_section .nav li {
        display: inline-block;
        margin-bottom: 10px;
    }
    }
    @media screen and (max-width : 540px) {
    }
    @media screen and (max-width : 500px) {
    }
    @media screen and (max-width : 440px) {
    .google_map_box iframe {
        display: block;
        height: 540px;
    }
    .google_info {
        top: 25%;
    }
    .db_face_images {
        width: 220px;
        margin: -110px auto 30px !important;
        height: 220px;
    }
    .db_banner_contant {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 20px !important;
    }
    .circle-ripple {
        width: 100px;
        height: 100px;
    }
    .db_banner_text h1 {
        font-size: 32px;
        line-height: 42px;
    }
    .db_home_slider {
        min-height: 570px;
    }
    .db_banner_text h2 {
        font-size: 15px;
    }
    .db_banner_text {
        margin-bottom: 15px;
    }
    .social li a {
        font-size: 16px;
        width: 36px;
        height: 36px;
        line-height: 36px;
    }
    .social li {
        margin: 0 2px;
    }
    .db_section_title h2 {
        font-size: 34px;
        line-height: 40px;
    }
    .db_personal_details strong {
        width: 100px;
    }
    .db_small_title {
        font-size: 24px;
        line-height: 26px;
        margin-bottom: 15px;
    }
    .db_my_interests li {
        width: 45%;
    }
    }
    @media screen and (max-width : 380px) {
    }
    @media screen and (max-width : 360px) {
    }
    